{% extends 'admin/DashboardBase.html' %}
{% load static %}
{% block content %}
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<style>
    .candidate__box
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        
    }
    .candidate__card
    {
        padding: 0.80rem 1rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
    .card-head
    {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.3rem;
        border-bottom: 2px solid #e9e8e8;
    }
    .card-head .fa
    {
        font-size: 11px;
        padding-right: 0.30rem;
    }
    .candidate__imgbox
    {
        width: 50px;
        height: 100px;
    }
    .candidate__imgbox img{
        width: 100%;
        height: auto;
    }
    .candidate_top__Details h6{
        font-size: 0.90rem;
        letter-spacing: 0.06rem;
        font-weight: 500;
    }
    .candidate_top__Details p{
        font-size: 0.75rem;
        font-weight: 500;
        color: #72cc29;
        letter-spacing: 0.05rem;
    }
    .password__form
    {
        padding: 0.20rem 0.10rem;
    }

    .input__box, .button__box
    {
        margin-top: 1.2rem;
    }
    .input__box
    {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        padding: 0.60rem 1.2rem;
    }
    .input__box .fa{
        gap: 0.80rem;
        padding-right: 0.70rem;
    }
    .input__box .intput_b
    {
        border: none;
        outline: none;
        font-size: 0.85rem;
    }
    .button__box
    {
        margin-top: 1.9rem;
        text-align:center ;
    }
    .button__box .save_btn
    {
        border: none;
        outline: none;
        font-size: 0.80rem;
        padding: 0.50rem 1rem;
        font-weight: 500;
        background-color: rgb(29, 28, 28);
        color: aliceblue;
        letter-spacing: 0.06rem;

    }
    .button__box .save_btn:hover{
        background-color: rgb(14, 4, 4);
    }

  
</style>

<!-- ========= CANDIDATE DETAILS SECTION ========== -->

<div class="container-fluid">
    <div class="candidate__box">
        <div class="card candidate__card">
            <div class="card-head">
                <div class="candidate__imgbox">
                    <img src="{% static 'img/dummy_candidate.png' %}" class="#" alt="Candidate_Dummy Image">
                </div>
                <div class="candidate_top__Details">
                    <h6>Password Change</h6>
                    <p>{{msg}}</p>
                   

                </div>
    
            </div>
            <div class="card-body">
                <form action="{% url 'Password_changeSave' users.id %}" method="post" class="password__form">
                    {% csrf_token %}
                        <div class="input__box">
                            <i class="fa fa-user" aria-hidden="true"></i><input type="text" name="#" class="intput_b" value="{{users.username}}">
                        </div>
                        <div class="input__box">
                            <i class="fa fa-lock" aria-hidden="true"></i><input type="text" name="psw" class="intput_b">
                        </div>
                        <div class="button__box">
                            <button type="submit" name="#" class="save_btn">Update</button>
                        </div>
                  </form>
                    
            </div>
        </div>    

    </div>
</div>

<!--======== END CANDIDATE DETAILS SECTION ======== -->








<script>
    setTimeout(function() {
        document.getElementById('msgbox').classList.add('hidden');
        document.getElementById('msgboxs').classList.add('hidebox');
    }, 5000);
</script>



{% endblock %}