{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">

       <title>EduHub</title>
   </head>
   <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link active-link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link">Contact</a>
                        </li>
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>

         <!--==================== CART ====================-->
         <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <h2 class="cart__title-center">Chat</h2>

            <!-- <div class="cart__container">
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Jazzmaster</h3>
                        <span class="cart__price">$1050</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
                
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Rose Gold</h3>
                        <span class="cart__price">$850</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>

                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Longines Rose</h3>
                        <span class="cart__price">$980</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
            </div>

            <div class="cart__prices">
                <span class="cart__prices-item"></span>
                <span class="cart__prices-total"></span>
            </div> -->
        </div>


        <main class="main">
                 <!--==================== HOME ====================-->
                 <section class="home" id="home">
                    <div class="home__container container grid">
                        <div class="home__img-bg">
                            <img src="#" alt="" class="home__img">
                        </div>
        
                        <div class="home__social">
                            <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                                Facebook
                            </a>
                            <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                                What's up
                            </a>
                            <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                                Instagram
                            </a>
                        </div>
        
                        <div class="home__data">
                            <h1 class="home__title">Welcome to <br> ALTOS INSTITUTE </h1>
                            <p class="home__description">
                                Welcome to Altos Eduhub, the best software training company in Kochi, Kerala. 
                                We are a subsidiary of Altos Technologies, a well-known software development company in Kochi. 
                                At Altos Eduhub, we provide comprehensive on-the-job training programs to help graduates gain 
                                the skills and experience they need to secure a job in the software industry.
                            </p>
                            <!-- <span class="home__price">$1245</span> -->
    
                            <div class="home__btns">
                                <!-- <a href="#" class="button button--gray button--small">
                                    Discover
                                </a> -->
                                <a href="#second-section"><button class="button home__button">READ MORE</button></a>
                                
                            </div>
                        </div>
                    </div>
                </section>

                 <!--==================== STORY ====================-->
                <section class="story section container" id="second-section">
                    <div class="story__container grid">
                        <div class="story__data">
                            <h2 class="section__title story__section-title">
                                EDUHUB
                            </h2>
        
                            <h1 class="story__title">
                              What We Do<br>
                            </h1>
        
                            <p class="story__description">
                                Our training programs cover a range of topics, including Python, React JS, front-end development, 
                                digital marketing, and REST API. Our goal is to equip our students with the knowledge and practical 
                                experience they need to succeed in today's competitive job market. As the best software training company 
                                in Kochi, we take great pride in our team of experienced instructors who are passionate about teaching 
                                and helping students achieve their goals. Our training programs are designed to be hands-on, with a 
                                focus on real-world applications and practical experience.
                            </p>
                            <h1 class="story__title">
                               Our Vission<br>
                              </h1>
                            <p class="story__description">
                                At Altos Eduhub, we are committed to providing our students with the best possible training experience. 
                                Our state-of-the-art facilities are equipped with the latest technology, and our curriculum is constantly 
                                updated to reflect the latest industry trends and best practices. We look forward to helping you achieve your 
                                career goals and become a part of the thriving software industry.
                            </p>
        
                            <a href="#" class="button button--small">READ TOP</a>
                        </div>

                        <div class="story__images">
                            <img src="#" alt="" class="story__img">
                            <div class="story__square"></div>
                        </div>
                    </div>
                </section>


                <section class="newsletter section container"  id="counter">
                    <div class="newsletter__bg grid">
                        <div>
                            <h2 class="newsletter__title">Why Choose Us </h2>
                            <p class="newsletter__description">
                                Some Of The Reason For Choosing Our  IT Solutions.<br>
                                Discover why ALTOS Technologies is the premier choice for IT solutions 
                            </p>
                        </div>
                        <div class="about_list_box">
                            <ul>
                                <li><i class='bx bx-chevrons-right'></i> Experienced Professionals</li>
                                <li><i class='bx bx-chevrons-right'></i> Unique Designs</li>
                                <li><i class='bx bx-chevrons-right'></i> On-time Delivery</li>
                                <li><i class='bx bx-chevrons-right'></i> Customized Services</li>
                                <li><i class='bx bx-chevrons-right'></i> Faster Responses</li>
                                <li><i class='bx bx-chevrons-right'></i> Dedicated Client Support</li>
                            </ul>
                        </div>
    
                        
                    </div>
                </section>


                 <!--==================== INSTRUCTORS ====================-->
                <section class="new section container" id="new">
                    <h2 class="section__title">
                        Expert Instructors
                    </h2>
                    
                    <div class="new__container">
                        <div class="swiper new-swiper">
                            <div class="swiper-wrapper">
                                {% for inst in instrs %}
                                <article class="new__card swiper-slide">
                                    <!-- <span class="new__tag">New</span> -->
                                    {% if inst.image %}
                                    <img src="{{inst.image.url}}" alt="Instructor" class="new__img">
                                    {% endif %}
            
                                    <div class="new__data">
                                        <h3 class="new__title"> {{inst.name}}</h3>
                                        <span class="new__price">{{inst.designation}}</span>
                                    </div>

                                    <a href="#" class="button new__button"><i class='bx bx-heart'></i></a>
            
                                </article>
                                {% endfor %}

                                                
                            </div>
                        </div>
                    </div>
                </section>


            
                
        </main>

    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <h3 class="footer__title">ALTOS EDUHUB</h3>

                <ul class="footer__list">
                    <li> 1st Floor - Thapasya Building Infopark</li>
                    <li>Kakkanad, Cochin</li>
                    <li> +91 974 663 2202</li>
                    <li> info@Altostechnologies.in</li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Quick Link</h3>

                <ul class="footer__links">
                   
                    <li>
                        <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">FAQs & Help</a>
                    </li>
                    
                </ul>
            </div>

            

            <div class="footer__content">
                <h3 class="footer__title">Social</h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                  
                    <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                        <i class='bx bxl-youtube' ></i>
                    </a>

                    <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin' ></i>
                    </a>

                    <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
    </footer>


    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>
    <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
        <i class='bx bxl-whatsapp scrollwh__icon' ></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>

     <!--===============PARALLS JS ===============-->
     <script src="static/js/index.js"></script>
     
     <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
     

     <script>
        var image = document.getElementsByClassName('home__img');
        new simpleParallax(image, {
            delay: .4,
            scale: 0.9,
            transition: 'cubic-bezier(0,0,0,1)'
            
        });

        
        
     </script>


</body>
</html>