{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>

        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Best Job Oriented Software Courses In Kerala , Python Developer Training In  Kochi" name="keywords">
        <meta content="Explore a wide range of software training courses at Altos Eduhub, the best company in Kerala. 
        Enhance your skills in programming, web development, and more with expert-led courses. Start your journey to 
        becoming a skilled software professional today!" name="description">

       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">

       <title>Course Training institute in Kochi Kerala</title>
   </head>
   <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%" alt="Altos Eduhub logo">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link ">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link active-link">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link ">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'EventsPage' %}" class="nav__link">Events</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'BlogPage' %}" class="nav__link">Blog</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link">Contact</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>

         
         <!--==================== CHAT BOX ====================-->
         <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <!-- <h2 class="cart__title-center">Chat</h2> -->
            <div class="card ChatBox" id="chat-container">
                <div class="card-head">
                    <div class="chatimg"></div>
                    <img src="{% static 'img/favicon.ico' %}">
                    <p>Altos EduHub</p>
                </div>
                <div class="card-body">
                    <div class="chat_img_box">
                        <img src="{% static 'img/logo1.png' %}">
                    </div>
                    <div class="chatmain_content">
                        <p>Welcome to altos eduhub! Use the chat box to get 
                            in touch with us and we'll be happy to assist you 
                            with any questions or inquiries you may have.
                        </p>
                    </div>
                    <div  class="chat_messages" id="chat-messages"></div>
                   
                    <!-- <p> Welcome To Altos EduHub</p> -->
                </div>
                <div class="card-footer">
                    <input type="text" id="user-input" class="int_text" placeholder="Type your message...">
                    <button class="send_btn" type="button" id="send-btn"><i class='bx bxs-send' ></i></button>
                </div>
            </div>

        </div>


        <main class="main">
                 <!--==================== HOME ====================-->
                 <section class="home" id="home"style="background-image: url('static/img/home_bg.jpg'); background-repeat: no-repeat;background-size:cover;" >
                    <div class="home__container container grid">
                        <div class="home__img-bg" style="background-image: url('static/img/post4.jpg'); background-repeat: no-repeat;background-size:cover;">
                            <img src="#" alt="" class="home__img">
                        </div>
        
                        <div class="home__social">
                            <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                                Facebook
                            </a>
                            <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                                WhatsApp
                            </a>
                            <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                                Instagram
                            </a>
                        </div>
        
        
                        <div class="home__data">
                            <h1 class="home__title">ALTOS EDUHUB <br> On The Job Training </h1>
                            <p class="home__description">
                                Welcome to Altos Eduhub - the premier software training company in Kerala, 
                                and a subsidiary of Altos Technologies - one of the leading software development 
                                companies in Kochi. We offer a range of on-the-job training programs in Python, 
                                React JS, Front End Development, REST API, and Digital Marketing. Our courses are 
                                designed to equip you with the skills and knowledge you need to succeed in the 
                                competitive world of software development.
                            </p>
                            <!-- <span class="home__price">$1245</span> -->
    
                            <div class="home__btns">
                                <a href="#second-section" class="button button--gray button--small">
                                    Explore
                                </a>
    
                                <!-- <button class="button home__button">ADD TO CART</button> -->
                            </div>
                        </div>
                    </div>
                </section>

                 <!--==================== STORY ====================-->
                 <section class="story section container" id="second-section" >
                    <div class="story__container grid">
                        <div class="story__data">
                            <h2 class="section__title story__section-title">
                                EDUHUB
                            </h2>
        
                            <h1 class="story__title">
                              TRAINING PROGRAMS<br>
                            </h1>
        
                            <p class="story__description">
                                Our training programs are six months in duration, with the first three months focused 
                                on fundamental training and the remaining three months dedicated to practical work on 
                                live projects. Upon successful completion of the training, you will receive an experience 
                                certificate. For Python training, we also offer guaranteed placement at Altos Technologies, 
                                while for other programs, we provide placement assistance.
                            </p>
                            
                            <p class="story__description">
                                To ensure the best possible training experience for our candidates, we have implemented several 
                                measures. As a part of our training program, we provide candidates with access to Altos core software,
                                 where they can update their tasks and track their work status efficiently. Additionally, 
                                 we conduct weekly meetings for each of the candidates to evaluate their work and performance. 
                                 We believe in providing continuous support to our candidates and offer a doubt clearing section 
                                 that is available 24 hours a day, seven days a week.
                            </p>
        
                            <a href="#" class="button button--small">READ TOP</a>
                        </div>

                        <div class="story__images">
                            <img src="{% static 'img/bg7.jpg' %}" alt="" class="story__img">
                            <div class="story__square"></div>
                        </div>
                    </div>
                </section>

                 <!--==================== CATEGEORY ====================-->


                 <section class="newsletter section container"  >
                    <div class="newsletter__bg grid">
                        <div>
                            <h2 class="newsletter__title">Explore Our Course   <br>Categories</h2>
                            <p class="newsletter__description">
                                Discover your passion and expand your knowledge with our diverse range 
                                of courses across various categories.
                            </p>
                        </div>
    
                        <div class="categeory_box" >
                            <a href="{% url 'shortTeamInternship' %}">
                              
                                <div class="card" >
                                    <i class='bx bxs-cube-alt'></i>
                                    <p>SHORT TEAM INTERNSHIP</p>
                                </div>
                            </a>
                            <a href="{% url 'Internship'  %}">
                                <div class="card">
                                    <i class='bx bxs-book-bookmark'></i>
                                    <p>INTERNSHIP</p>
                                </div>
                            </a>
                            <a href="{% url 'Course_full'  %}">
                                <div class="card">
                                    <i class='bx bxs-bookmarks'></i>
                                    <p>ON JOB TRAINING</p>
                                    
                                   </div>
                            </a>
                           

                        </div>
                    </div>
                </section>

 
                <!--==================== COURSES ====================-->
                <div id="offered-courses"></div><!-- For Redriction form Home Page-->
                <section class="featured section container" id="featured">
                    <h2 class="section__title" >
                        OFFERED COURSES
                    </h2>

                    <div class="featured__container grid">
                        {% for cours in courses %}
                        <article class="featured__card">
                            {% if cours.offer_fee %}
                            <span class="featured__tag"><del>₹ {{cours.fee}}/-</span>
                            {% endif %}
                            {% if cours.image %}
                            <img src="{{cours.image.url}}" alt="{{cours.calttag}}" class="featured__img">
                            {% endif %}

                            <div class="featured__data">
                                <h3 class="featured__title">{{cours.course_name}}</h3>
                                {% if cours.offer_fee %}
                            
                                <span class="featured__price">₹ {{cours.offer_fee}}/-</span>
                                {% else %}
                                    {% if cours.fee %}
                                    <span class="featured__price">₹ {{cours.fee}}/-</span>
                                    {% else %}
                                    <br>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <a href="{% url 'RegisterForm' %}" class="button featured__button">JOIN NOW</a>
                            <!-- <button class="button featured__button">JOIN NOW</button> -->
                        </article>
                        {% endfor %}


                    </div>
                </section>


        </main>

    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <h3 class="footer__title">ALTOS EDUHUB</h3>

                <ul class="footer__list">
                    <li> 1st Floor - Thapasya Building Infopark</li>
                    <li>Kakkanad, Cochin</li>
                    <li> +91 974 663 2202</li>
                    <li> info@Altostechnologies.in</li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Quick Link</h3>

                <ul class="footer__links">
                   
                    <li>
                        <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">FAQs & Help</a>
                    </li>
                    
                </ul>
            </div>

            

            <div class="footer__content">
                <h3 class="footer__title">Social</h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                  
                    <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                        <i class='bx bxl-youtube' ></i>
                    </a>

                    <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin' ></i>
                    </a>

                    <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
    </footer>


    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
        
    </a>
    <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
        <i class='bx bxl-whatsapp scrollwh__icon' ></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>
    <script src="static/js/chat.js"></script>

     <!--===============PARALLS JS ===============-->
     <script src="static/js/index.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
     
     <script>
        var image = document.getElementsByClassName('home__img');
        new simpleParallax(image, {
            delay: .4,
            scale: 1.1,
            transition: 'cubic-bezier(0,0,0,1)'
            
        });
        

        
        
     </script>


</body>
</html>
        
