{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta content="Best Training Institute  and Jobs in Kerala" name="keywords">
       <meta content="Contact us to be a certified professional computer expert in Software industry by Altos EduHub On the Job Training Program  " name="description">
       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">

       <title>Best Software training in kerala </title>

       <style>
        #contact
        {
            color: #fff;
        }
       </style>
   </head>
   <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%" alt="Altos Eduhub logo">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link ">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link ">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link ">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'EventsPage' %}" class="nav__link">Events</a>
                        </li>
                      
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link active-link" id="contact" >Contact</a>
                        </li>
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>
       
         <!--==================== CHAT BOX ====================-->
         <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <!-- <h2 class="cart__title-center">Chat</h2> -->
            <div class="card ChatBox" id="chat-container">
                <div class="card-head">
                    <div class="chatimg"></div>
                    <img src="{% static 'img/favicon.ico' %}">
                    <p>Altos EduHub</p>
                </div>
                <div class="card-body">
                    <div class="chat_img_box">
                        <img src="{% static 'img/logo1.png' %}">
                    </div>
                    <div class="chatmain_content">
                        <p>Welcome to altos eduhub! Use the chat box to get 
                            in touch with us and we'll be happy to assist you 
                            with any questions or inquiries you may have.
                        </p>
                    </div>
                    <div  class="chat_messages" id="chat-messages"></div>
                   
                    <!-- <p> Welcome To Altos EduHub</p> -->
                </div>
                <div class="card-footer">
                    <input type="text" id="user-input" class="int_text" placeholder="Type your message...">
                    <button class="send_btn" type="button" id="send-btn"><i class='bx bxs-send' ></i></button>
                </div>
            </div>

        </div>


        <main class="main">
             <!--==================== HOME ====================-->
             <section class="home" id="home" style="background-image: url('static/img/bg3.jpg'); background-repeat: no-repeat;background-size:cover;">
                <div class="home__container container grid" >
                    <div class="home__img-bg" style="background-image: url('static/img/post3.jpg'); background-repeat: no-repeat;background-size:cover;">
                        <img src="#" alt="" class="home__img">
                    </div>
    
                    <div class="home__social">
                        <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                            Facebook
                        </a>
                        <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                            WhatsApp
                        </a>
                        <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                            Instagram
                        </a>
                    </div>
    
                    <div class="home__data">
                        {% if msg %}
                        <p class="message_data" >{{msg}}</p>
                        {% endif %}
                        <h1 class="home__title">Contact For Any Query </h1>
                        <p class="home__description">
                            Welcome to Altos Eduhub's Enquiry page! We're thrilled that you're interested 
                             and would love to hear from you.
                            <BR>
                                Whether you have questions about our training programs or are ready 
                                to enroll, our team of experts is here to help you every step of the way.
                        </p>
                        <!-- <span class="home__price">$1245</span> -->

                        <div class="home__btns">
                            <a href="#second-section" class="button button--gray button--small">
                                Connect
                            </a>

                            <!-- <button class="button home__button">ADD TO CART</button> -->
                        </div>
                    </div>
                </div>
            </section>
                
                 <!--==================== NEWSLETTER ====================-->
            <section class="newsletter section container" id="second-section">
                <div class="newsletter__bg grid">
                    <div>
                        <h2 class="newsletter__title"> Ask Yor Query<br> </h2>
                        <p class="newsletter__description">
                            To get in touch with us, simply fill out the contact form on this page or email us 
                            at info@Altostechnologies.in . Our team will get back to you as soon as possible to address your inquiry.
                        </p>
                        <div class="contact_icons">
                            <i class='bx bxs-location-plus'><b class="icon-head">Office</b></i><span>
                                1st Floor - Thapasya Building Infopark, Kakkanad, Cochin
                            </span>
                            
                            <i class='bx bxs-phone'><b class="icon-head">Mobile</b></i> <span>
                                <box-icon name='location-plus'></box-icon> +91 974 663 2202
                            </span>
                            <i class='bx bxs-envelope'><b class="icon-head">Email </b></i> <span>
   
                                info@Altostechnologies.in
                            </span>
                        </div>
                    </div>

                    <form action="{% url 'enquery_save' %}" method="post" class="newsletter__subscribe">
                        {% csrf_token %}
        
                        <input type="text" placeholder="Enter your name" name="name" class="newsletter__input" required>
                        <input type="email" placeholder="Enter your email" name="email" class="newsletter__input" required>
                        <div id="emailValidationMessage" ></div>
                        <input type="text" placeholder="Enter your place" name="place" class="newsletter__input" required>
                        <input type="tel" placeholder="Enter your phone no" pattern="[6789][0-9]{9}" name="phno" class="newsletter__input" required>
                        <div id="phoneValidationMessage" ></div>
                        <textarea class="newsletter__input" placeholder="Enter your message" name="msg" required></textarea>
                       
                        <button class="button" type="submit">
                            SEND
                        </button>
                    </form>

                    
                </div>
                
            </section>
               
    

        </main>


    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <h3 class="footer__title">ALTOS EDUHUB</h3>

                <ul class="footer__list">
                    <li> 1st Floor - Thapasya Building Infopark</li>
                    <li>Kakkanad, Cochin</li>
                    <li> +91 974 663 2202</li>
                    <li> info@Altostechnologies.in</li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Quick Link</h3>

                <ul class="footer__links">
                   
                    <li>
                        <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">FAQs & Help</a>
                    </li>
                    
                </ul>
            </div>

            

            <div class="footer__content">
                <h3 class="footer__title">Social</h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                  
                    <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                        <i class='bx bxl-youtube' ></i>
                    </a>

                    <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin' ></i>
                    </a>

                    <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>
    <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
        <i class='bx bxl-whatsapp scrollwh__icon' ></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>
    <script src="static/js/chat.js"></script>

     <!--===============PARALLS JS ===============-->
     <script src="static/js/index.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
     <script type="text/javascript" src="//use.typekit.net/rws3een.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

     <script>
        var image = document.getElementsByClassName('home__img');
        new simpleParallax(image, {
            delay: .4,
            scale: 0.9,
            transition: 'cubic-bezier(0,0,0,1)'
            
        });
        $(function() {
            $('#contact').addClass('expand');
          });

        
     </script>
     <script>
        var emailInput = document.getElementById("emailInput");
        var emailValidationMessage = document.getElementById("emailValidationMessage");
        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        
        emailInput.addEventListener("input", validateEmail);
        
        function validateEmail() {
          var email = emailInput.value;
          
          if (emailPattern.test(email)) {
            emailValidationMessage.textContent = "Email is valid!";
            emailValidationMessage.style.fontSize="13px";
            emailValidationMessage.style.color ="green";
          } else {
            emailValidationMessage.textContent = "Please enter a valid email address.";
            emailValidationMessage.style.fontSize="13px";
            emailValidationMessage.style.color="red";
          }
        }
        </script>
        <script>
            var phoneInput = document.getElementById("phoneInput");
            var phoneValidationMessage = document.getElementById("phoneValidationMessage");
            
            phoneInput.addEventListener("input", validatePhoneNumber);
            
            function validatePhoneNumber() {
              var phoneNumber = phoneInput.value;
            
              // Remove any non-digit characters
              phoneNumber = phoneNumber.replace(/\D/g, '');
            
              // Limit the input to 10 digits
              if (phoneNumber.length > 10) {
                phoneNumber = phoneNumber.slice(0, 10);
                phoneInput.value = phoneNumber;
              }
            
              // Check if the input consists of 10 digits only
              if (/^\d{10}$/.test(phoneNumber)) {
                phoneValidationMessage.textContent = "Phone number is valid!";
                phoneValidationMessage.style.color = "green";
                phoneValidationMessage.style.fontSize = "13px";
              } else {
                phoneValidationMessage.textContent = "Please enter a valid 10-digit phone number.";
                phoneValidationMessage.style.color = "red";
                phoneValidationMessage.style.fontSize = "13px";
              }
              if (/^[6-9]\d{9}$/.test(phoneNumber)) {
                phoneValidationMessage.textContent = "Phone number is valid!";
                phoneValidationMessage.style.color = "green";
                phoneValidationMessage.style.fontSize = "13px";
              } else {
                phoneValidationMessage.textContent = "Please enter a valid phone number starting with 6, 7, 8, or 9 and having a total of 10 digits.";
                phoneValidationMessage.style.color = "red";
                phoneValidationMessage.style.fontSize = "13px";
              }
            }
            </script>



</body>
</html>
        