 {% load static %}
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============--> 
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/styles.css">
       

        <title>EduHub</title>

    
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link">Contact</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== CART ====================-->
        <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <h2 class="cart__title-center">Chat</h2>

            <!-- <div class="cart__container">
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Jazzmaster</h3>
                        <span class="cart__price">$1050</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
                
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Rose Gold</h3>
                        <span class="cart__price">$850</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>

                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Longines Rose</h3>
                        <span class="cart__price">$980</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
            </div>

            <div class="cart__prices">
                <span class="cart__prices-item"></span>
                <span class="cart__prices-total"></span>
            </div> -->
        </div>


        <!-- ===================POPUP CARD OFFER ==================-->
        {% if msg %}
        <div class="container popup_container" >
            <div class="popup_box_offer" id="popupbox">
                <button id="close_popup">&times</button>
                <h2>Title</h2>
                <p> 
                    Altos Eduhub is the best software training institute in Kochi, Kerala, 
                    owned by Altos Technologies, a leading software development company in Kerala. 
                    We offer 
                 </p>
                 <a href="#">check it</a>
            </div>

        </div>
        {% endif %}
       


        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home" style="background-image: url('static/img/bg3.jpg'); background-size:cover;">
                <div class="home__container container grid">
                    <div class="home__img-bg" style="background-image: url('static/img/bg17.png'); background-size:cover">
                        <img src="#" alt="" class="home__img">
                    </div>
    
                    <div class="home__social">
                        <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                            Facebook
                        </a>
                        <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                            WhatsApp
                        </a>
                        <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                            Instagram
                        </a>
                    </div>
    
    
                    <div class="home__data" >
                        <h1 class="home__title">Best Software Training <br> Institute of Kerala </h1>
                        <p class="home__description1 ">
                            <span>Enhance Your Skills with Top-Rated Software Courses in Kochi</span>
                            <span>Empowering Your Tech Career with Expert Guidance.</span>
                            
                        </p>
                        
                        <div class="home__btns">
                            <a href="{% url 'CoursePage' %}#offered-courses" class="button button--gray button--small">
                                View Course
                            </a>
                            <a href="{% url 'RegisterForm' %}" class="button home__button">
                                JOIN NOW
                            </a>

                           
                        </div>
                    </div>
                </div>
            </section>
            
        
            <!--==================== STORY ====================-->
            <section class="story section container">
                <div class="story__container grid">
                    <div class="story__data">
                        <h2 class="section__title story__section-title">
                            About Us
                        </h2>
    
                        <h1 class="story__title">
                            WELCOME TO <br> ALTOS EDUHUB 
                        </h1>
    
                        <p class="home__description">
                            Altos Eduhub is the best software training institute in Kochi, Kerala, 
                            owned by Altos Technologies, a leading software development company in Kerala. 
                            We offer top-notch training programs in Python, Front End Development, Digital Marketing, 
                            React JS, and REST API. Our institute provides on-the-job training to ensure that learners 
                            gain practical experience and are job-ready.
                        </p>
    
                        <a href="{% url 'AboutPage' %}" class="button button--small">Discover</a>
                    </div>

                    <div class="story__images" >
                        <img src="{% static 'img/about_bg.jpg' %}" alt="" class="story__img">
                        <div class="story__square" style="background-image: url('static/img/bg5.jpg'); background-size:cover;"></div>
                    </div>
                </div>
            </section>

            <!--==================== FEATURED ====================-->
            <section class="featured section container" id="featured">
                <h2 class="section__title">
                    Secure Your IT Future
                </h2>

                <div class="featured__container grid">
                    <article class="featured__card">
                        <span class="featured__tag"></span>

                        <img src="{% static 'img/jumpcarrer.jpg' %}" alt="Jumpstart Your IT Career" class="featured__img">

                        <div class="featured__data">
                            <h3 class="featured__title">Jumpstart Your IT Career</h3>
                            <span class="featured__price"></span>
                        </div>
                       
                        <a href="{% url 'CarrerStart' %}"  class="button featured__button">Explore</a>
                        <!-- <button class="button featured__button">Explore</button> -->
                    </article>

                    <article class="featured__card">
                        <span class="featured__tag"></span>

                        <img src="{% static 'img/transit.jpg' %}" alt="Transitioning to IT" class="featured__img">

                        <div class="featured__data">
                            <h3 class="featured__title">Transitioning to IT</h3>
                            <span class="featured__price"></span>
                        </div>

                        <a href="{% url 'CarrerTransit' %}"  class="button featured__button">Explore</a>
                    </article>

                    <article class="featured__card">
                        <span class="featured__tag"></span>

                        <img src="{% static 'img/brigeup.jpg' %}" alt="Bridging the Gap" class="featured__img">

                        <div class="featured__data">
                            <h3 class="featured__title">Bridging the Gap</h3>
                            <span class="featured__price"></span>
                        </div>

                        <a href="{% url 'BridgingGap' %}"  class="button featured__button">Explore</a>
                    </article>
                    

                    <article class="featured__card">
                        <span class="featured__tag"></span>

                        <img src="{% static 'img/restart.jpg' %}" alt="Bridging the Gap" class="featured__img">
                        

                        <div class="featured__data">
                            <h3 class="featured__title">Restart Your IT Career</h3>
                            <span class="featured__price"></span>
                        </div>

                        <a href="{% url 'CarrerRestart' %}"  class="button featured__button">Explore</a>
                    </article>
                </div>
            </section>

            <!--==================== NEW ====================-->
            <section class="new section container" id="new">
                <h2 class="section__title">
                    Popular Courses
                </h2>
                
                <div class="new__container">
                    <div class="swiper new-swiper">
                        <div class="swiper-wrapper">
                            {% for cours in courses %}
                            <article class="new__card swiper-slide">
                                <span class="new__tag"><i class='bx bx-right-arrow-alt'></i></span>
                                {% if cours.image %}
                                <img src="{{cours.image.url}}" alt="" class="new__img">
                                {% endif %}
        
                                <div class="new__data">
                                    <h3 class="new__title">{{cours.course_name}}</h3>
                                    <!-- <span class="new__price">980</span> -->
                                </div>

                                <a class="button new__button"href="{% url 'RegisterForm' %}" class="button home__button">
                                    Join Now
                                </a>
        
                                
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>


            <!--==================== SUPPORT ====================-->
            <section class="newsletter section_suport container">
                <h2 class="section__title">
                    Our support
                </h2>
                <div class="support_bg support " id="card-container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <div class="icon">
                                    <i class='bx bxs-graduation'></i>
                                </div>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <h3>
                                    <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank">Skilled Instructors</a>
                                </h3>
                                <p>Our instructors are industry experts committed to providing up-to-date training to learners.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <div class="icon">
                                    <i class='bx bx-globe'></i>
                                </div>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <h3>
                                    <a href="#" target="_blank">Online Classes</a>
                                </h3>
                                <p>Our online classes offer learners the convenience of studying from anywhere, at any time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <div class="icon">
                                    <i class='bx bx-support'></i>
                                   
                                </div>
                                
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <h3>
                                    <a href="#" target="_blank">Placement Assistance</a>
                                </h3>
                                <p>We provide learners with career guidance and support, helping them to secure a fulfilling career in the software industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </section>



            <!--==================== COUNT ====================-->

            <section class="newsletter section container"  id="counter">
                <div class="newsletter__bg grid">
                    <div>
                        <h2 class="newsletter__title">We Take Pride in  <br> Our Numbers</h2>
                        <p class="newsletter__description">
                            The Lorem Ipsum Company has been an integral part of our content marketing success. 
                            We have seen a notable increase in organic .
                        </p>
                    </div>

                    <div class="number_counter_box" >
                       <div class="card" >
                        <div class="card_cont">
                            <p><span class="counters" data-count="10">10</span></p>
                            <span class="count_head">Experience</span>
                         
                        </div>
                       </div>
                       <div class="card">
                        <div class="card_cont">
                            <p><span class="counters" data-count="500">500</span></p>
                            <span class="count_head"> Placements</span>
                        </div>
                       </div>
                       <div class="card">
                        
                        <div class="card_cont">
                            <p><span class="counters"  data-count="100">100</span></p>
                            <span class="count_head">Faculties</span>
                        </div>
                       </div>
                       <div class="card">
                     
                        <div class="card_cont">
                            <p><span class="counters"  data-count="50">50</span></p>
                            <span class="count_head">Courses</span>
                        </div>
                       </div>
                    </div>
                </div>
            </section>

             

            <!--==================== INSTRUCTORS ====================-->
            <section class="products section container" id="products">
                <h2 class="section__title">
                    Instructors
                </h2>

                <div class="products__container grid">
                    {% for inst in instrs %}
                    <article class="products__card">
                        {% if inst.image %}
                        <img src="{{inst.image.url}}" alt="Instructor" class="products__img">
                        {% endif %}

                        <h3 class="products__title">{{inst.name}}</h3>
                        <span class="products__price">{{inst.designation}}</span>

                        <button class="products__button">
                            <i class='bx bx-heart'></i>
                        </button>
                    </article>
                    {% endfor %}

                    
                </div>
            </section>

            <!--==================== TESTIMONIAL ====================-->
            <section class="testimonial section container" >
                <div class="testimonial__container grid">
                    <div class="swiper testimonial-swiper">
                     
                        <div class="swiper-wrapper">
                            {% for testi in testims %}
                            <div class="testimonial__card swiper-slide">
                                <div class="testimonial__quote">
                                    <i class='bx bxs-quote-alt-left' ></i>
                                </div>
                                <p class="testimonial__description">
                                   {{testi.description}}
                                </p>
                                <div class="testimonial__quote">
                                    <i class='bx bxs-quote-alt-right' ></i>
                                </div>
                                <!-- <h3 class="testimonial__date">March 27. 2021</h3> -->
        
                                <div class="testimonial__perfil">
                                    {% if testi.image %}
                                    <img src="{{testi.image.url}}" alt="" class="testimonial__perfil-img">
                                    {% endif %}
        
                                    <div class="testimonial__perfil-data">
                                        <span class="testimonial__perfil-name"> {{testi.name}}</span>
                                        <span class="testimonial__perfil-detail">{{testi.profession}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                       
                        
                        <div class="swiper-button-next">
                            <i class='bx bx-right-arrow-alt' ></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class='bx bx-left-arrow-alt' ></i>
                        </div>
                    </div>

                    <div class="testimonial__images">
                        <div class="testimonial__square" style="background-image: url('static/img/testimonial.jpg'); background-repeat: no-repeat;background-size:cover;"></div>
                        <img src="{% static 'img/testimonial1.jpg' %}" alt="" class="testimonial__img">
                    </div>
                </div>
            </section>

           
           
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <h3 class="footer__title">ALTOS EDUHUB</h3>
    
                    <ul class="footer__list">
                        <li> 1st Floor - Thapasya Building Infopark</li>
                        <li>Kakkanad, Cochin</li>
                        <li> +91 974 663 2202</li>
                        <li> info@Altostechnologies.in</li>
                    </ul>
                </div>
                <div class="footer__content">
                    <h3 class="footer__title">Quick Link</h3>
    
                    <ul class="footer__links">
                       
                        <li>
                            <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">FAQs & Help</a>
                        </li>
                        
                    </ul>
                </div>
    
                
    
                <div class="footer__content">
                    <h3 class="footer__title">Social</h3>
    
                    <ul class="footer__social">
                        <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                            <i class='bx bxl-whatsapp' ></i>
                        </a>
                      
                        <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                            <i class='bx bxl-youtube' ></i>
                        </a>
    
                        <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                            <i class='bx bxl-linkedin' ></i>
                        </a>
    
                        <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram' ></i>
                        </a>
                    </ul>
                </div>
            </div>
    
            <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
        </footer>
    

        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
        </a>
        <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
            <i class='bx bxl-whatsapp scrollwh__icon' ></i>
        </a>

      

        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

       

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
        <script src="static/js/index.js"></script>

   

         <!--===============PARALLS JS ===============-->
         <script src="static/js/index.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
         <script type="text/javascript" src="//use.typekit.net/rws3een.js"></script>
         <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        
        
    </body>
</html>