{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
       
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Top Job Oriented courses in Kerala with 100% placements Assistances, Best software institute, Python training in kochi" name="keywords">

        <meta content="Explore success stories of students who secured 100% placements after 
        completing the comprehensive software training program at Altos Eduhub, the best 
        software training company in Kerala. Unlock your potential and join the industry's top talent pool. 
        Start your journey today!" name="description">

       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">

       <title>Software Training & Testing course with 100% placement in kerala</title>
   </head>
   <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%" alt="Altos Eduhub logo">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link ">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link active-link">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'EventsPage' %}" class="nav__link">Events</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'BlogPage' %}" class="nav__link">Blog</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link">Contact</a>
                        </li>
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>

          <!--==================== CHAT BOX ====================-->
          <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <!-- <h2 class="cart__title-center">Chat</h2> -->
            <div class="card ChatBox" id="chat-container">
                <div class="card-head">
                    <div class="chatimg"></div>
                    <img src="{% static 'img/favicon.ico' %}">
                    <p>Altos EduHub</p>
                </div>
                <div class="card-body">
                    <div class="chat_img_box">
                        <img src="{% static 'img/logo1.png' %}">
                    </div>
                    <div class="chatmain_content">
                        <p>Welcome to altos eduhub! Use the chat box to get 
                            in touch with us and we'll be happy to assist you 
                            with any questions or inquiries you may have.
                        </p>
                    </div>
                    <div  class="chat_messages" id="chat-messages"></div>
                   
                    <!-- <p> Welcome To Altos EduHub</p> -->
                </div>
                <div class="card-footer">
                    <input type="text" id="user-input" class="int_text" placeholder="Type your message...">
                    <button class="send_btn" type="button" id="send-btn"><i class='bx bxs-send' ></i></button>
                </div>
            </div>

        </div>


        <main class="main">
                 <!--==================== HOME ====================-->
                 <section class="home" id="home" style="background-image: url('static/img/bg4.jpg'); background-repeat: no-repeat;background-size:cover;" >
                    <div class="home__container container grid" >
                        <div class="home__img-bg"  style="background-image: url('static/img/post2.jpg'); background-repeat: no-repeat;background-size:cover;">
                            <img src="#" alt="" class="home__img">
                        </div>
        
                        <div class="home__social">
                            <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                                Facebook
                            </a>
                            <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                                WhatsApp
                            </a>
                            <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                                Instagram
                            </a>
                        </div>
        
        
                        <div class="home__data">
                            <h1 class="home__title">PLACEMENTS  <br> TAKE THE NEXT STEP</h1>
                            <p class="home__description">
                                At Altos Eduhub, we take immense pride in the success of our students. 
                                With a strong focus on skill-building and practical experience, our training programs 
                                have enabled countless graduates to secure top positions in leading companies.
                            </p>
                            <p class="home__description">
                                Our placement history speaks for itself, showcasing the success stories of our 
                                talented alumni who have carved a niche for themselves in the industry.
                            </p>
                            <!-- <span class="home__price">$1245</span> -->
    
                            <div class="home__btns">
                                <a href="#products" class="button button--gray button--small">
                                    PLACEMENT
                                </a>
    
                                <!-- <button class="button home__button"></button> -->
                            </div>
                        </div>
                    </div>
                </section>
              
           

             <!--==================== PRODUCTS ====================-->
             <section class="products section container" id="products">
                <h2 class="section__title">
                    Students Placed In 
                </h2>

                <div class="products__container grid">
                    {% for pla in placement %}
                    <article class="products__card">
                        {% if pla.image %}
                        <img src="{{pla.image.url}}" alt="{{pla.plaalttag}}" class="products__img">
                        {% endif %}

                        <h3 class="products__title">{{pla.name}}</h3>
                        <span class="products__price">{{pla.company}}</span>

                        <button class="products__button">
                            <i class='bx bx-heart' ></i>
                        </button>
                    </article>
                    {% endfor %}

        
                </div>
            </section>


                
    

        </main>

  

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <h3 class="footer__title">ALTOS EDUHUB</h3>

                <ul class="footer__list">
                    <li> 1st Floor - Thapasya Building Infopark</li>
                    <li>Kakkanad, Cochin</li>
                    <li> +91 974 663 2202</li>
                    <li> info@Altostechnologies.in</li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Quick Link</h3>

                <ul class="footer__links">
                   
                    <li>
                        <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">FAQs & Help</a>
                    </li>
                    
                </ul>
            </div>

            

            <div class="footer__content">
                <h3 class="footer__title">Social</h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                  
                    <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                        <i class='bx bxl-youtube' ></i>
                    </a>

                    <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin' ></i>
                    </a>

                    <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
    </footer>


    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>
    <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
        <i class='bx bxl-whatsapp scrollwh__icon' ></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>
    <script src="static/js/chat.js"></script>

     <!--===============PARALLS JS ===============-->
     <script src="static/js/index.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    

     <script>
        var image = document.getElementsByClassName('home__img');
        new simpleParallax(image, {
            delay: 0.4,
            scale: 1,
            transition: 'cubic-bezier(0,0,0,1)'
            
        });

        
        
     </script>


</body>
</html>