{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">

       <title>EduHub</title>

       <style>
        #contact
        {
            color: #fff;
        }
       </style>
   </head>
   <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="{% url 'HomePage' %}" class="nav__logo">
                    <img src="static/img/logo1.png" style="width:100%; height:100%">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'AboutPage' %}" class="nav__link ">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'CoursePage' %}" class="nav__link ">Course</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'PlacementPage' %}" class="nav__link ">Placement</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'ContactPage' %}" class="nav__link active-link" id="contact" >Contact</a>
                        </li>
                    </ul>
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x' ></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class='bx bx-moon change-theme' id="theme-button"></i>

                    <div class="nav__shop" id="cart-shop">
                        <i class='bx bxs-chat'></i>
                    </div>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class='bx bx-grid-alt' ></i>
                    </div>
                </div>
            </nav>
        </header>
       
         <!--==================== CART ====================-->
         <div class="cart" id="cart">
            <i class='bx bx-x cart__close' id="cart-close"></i>

            <h2 class="cart__title-center">Chat</h2>

            <!-- <div class="cart__container">
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Jazzmaster</h3>
                        <span class="cart__price">$1050</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
                
                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Rose Gold</h3>
                        <span class="cart__price">$850</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>

                <article class="cart__card">
                    <div class="cart__box">
                        <img src="#" alt="" class="cart__img">
                    </div>

                    <div class="cart__details">
                        <h3 class="cart__title">Longines Rose</h3>
                        <span class="cart__price">$980</span>

                        <div class="cart__amount">
                            <div class="cart__amount-content">
                                <span class="cart__amount-box">
                                    <i class='bx bx-minus' ></i>
                                </span>

                                <span class="cart__amount-number">1</span>

                                <span class="cart__amount-box">
                                    <i class='bx bx-plus' ></i>
                                </span>
                            </div>

                            <i class='bx bx-trash-alt cart__amount-trash' ></i>
                        </div>
                    </div>
                </article>
            </div>

            <div class="cart__prices">
                <span class="cart__prices-item"></span>
                <span class="cart__prices-total"></span>
            </div> -->
        </div>


        <main class="main">
             <!--==================== HOME ====================-->register
             <section class="home" id="home">
                <div class="home__container container grid">
                    <div class="home__img-bg" style="background-image: url('static/img/register.jpg'); background-repeat: no-repeat;background-size:cover;">
                        <img src="static/img/register.jpg" alt="" class="home__img">
                    </div>
    
                    <div class="home__social">
                        <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="home__social-link">
                            Facebook
                        </a>
                        <a href="https://wa.me/919074156818" target="_blank" class="home__social-link">
                            What's up
                        </a>
                        <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="home__social-link">
                            Instagram
                        </a>
                    </div>
    
                    <div class="home__data">
                        <h1 class="home__title">Explore Your Future With Us </h1>
                        <p class="home__description">
                            Welcome to Altos Eduhub's Contact Us page! We're thrilled that you're interested 
                            in our on-the-job training programs and would love to hear from you.
                            <BR>
                                Whether you have questions about our training programs or are ready 
                                to enroll, our team of experts is here to help you every step of the way.
                        </p>
                        <!-- <span class="home__price">$1245</span> -->

                        <div class="home__btns">
                            <a href="#second-section" class="button button--gray button--small">
                                Register
                            </a>

                            <!-- <button class="button home__button">ADD TO CART</button> -->
                        </div>
                    </div>
                </div>
            </section>
                
                 <!--==================== NEWSLETTER ====================-->
            <section class="newsletter section container" id="second-section">
                <div class="newsletter__bg grid">
                    <div>
                        <h2 class="newsletter__title"> Fill Your Details<br> </h2>
                        <p class="newsletter__description">
                            To get in touch with us, simply fill out the contact form on this page or email us 
                            at info@Altostechnologies.in . Our team will get back to you as soon as possible to address your inquiry.
                        </p>
                        
                    </div>
 
                    <form action="{% url 'saveEnquiry' %}" method="post" class="newsletter__subscribe">
                        {% csrf_token %}
                        <input type="text"  name="join_name" placeholder="Enter your name"  class="newsletter__input"  required>
                        <input type="email" name="join_email" placeholder="Enter your email" class="newsletter__input" required>
                        <input type="tel"  name="join_phone" placeholder="Enter your phone number" class="newsletter__input" required>
                        <input type="text" name="join_place" placeholder="Enter your place" class="newsletter__input" required>
                        <input type="text" name="join_qualific" placeholder="Enter your qulification" class="newsletter__input" required>
                        <input type="text" name="join_stream" placeholder="Enter your stream" class="newsletter__input" required>
                        <input type="text"  name="join_passyear" placeholder="Enter year of paas out" class="newsletter__input" >
                        <span  class="regisrter_info">Provide the (start date, end date) last course that you completed</span>
                        <input type="date" name="join_sdate" placeholder="Enter start date" class="newsletter__input" >
                        <input type="date" name="join_edate" placeholder="Enter End date" class="newsletter__input" >
                        <input type="text" name="join_exp" placeholder="Do you have any experience(y/n)" class="newsletter__input" >
                        <input type="number" name="join_expno" placeholder="Enter the year of experience" class="newsletter__input" >
                        <select class="newsletter__input" name="join_course" >
                            <option value="0" style="color: rgb(49, 48, 48);">select the course</option>
                            {% for course in courses %}
                            <option value="{{course.id}}" style="color: rgb(49, 48, 48);">{{course.course_name}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="join_desig" placeholder="Enter your designation" class="newsletter__input" >
                        
                        <textarea class="newsletter__input" name="join_message"  placeholder="Enter your message" ></textarea>
                       
                        <button class="button" type="submit">
                            JOIN
                        </button>
                    </form>

                    
                </div>
                
            </section>
               
    

        </main>


    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <h3 class="footer__title">ALTOS EDUHUB</h3>

                <ul class="footer__list">
                    <li> 1st Floor - Thapasya Building Infopark</li>
                    <li>Kakkanad, Cochin</li>
                    <li> +91 974 663 2202</li>
                    <li> info@Altostechnologies.in</li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title">Quick Link</h3>

                <ul class="footer__links">
                   
                    <li>
                        <a href="{% url 'AboutPage' %}" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'ContactPage' %}" class="footer__link">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">FAQs & Help</a>
                    </li>
                    
                </ul>
            </div>

            

            <div class="footer__content">
                <h3 class="footer__title">Social</h3>

                <ul class="footer__social">
                    <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link">
                        <i class='bx bxl-whatsapp' ></i>
                    </a>
                  
                    <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link">
                        <i class='bx bxl-youtube' ></i>
                    </a>

                    <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin' ></i>
                    </a>

                    <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </ul>
            </div>
        </div>

        <span class="footer__copy">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>
    <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
           
        <i class='bx bxl-whatsapp scrollwh__icon' ></i>
    </a>

    <!--=============== SWIPER JS ===============-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>

     <!--===============PARALLS JS ===============-->
     <script src="static/js/index.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
     <script type="text/javascript" src="//use.typekit.net/rws3een.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

     <script>
        var image = document.getElementsByClassName('home__img');
        new simpleParallax(image, {
            delay: .4,
            scale: 0.9,
            transition: 'cubic-bezier(0,0,0,1)'
            
        });
        $(function() {
            $('#contact').addClass('expand');
          });

        
     </script>


</body>
</html>
        